*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  /* ### Primary */
  --Orange: hsl(25, 97%, 53%);

  /* ### Neutral */
  --White: hsl(0, 0%, 100%);
  --LightGrey: hsl(217, 12%, 63%);
  --MediumGrey: hsl(216, 12%, 54%);
  --DarkBlue: hsl(213, 19%, 18%);
  --VeryDarkBlue: hsl(216, 12%, 8%);
}

body {
  font-size: 15px;
  font-family: "Overpass", sans-serif;
  color: var(--White);
}

img {
  padding: 1rem;
  background-color: hsla(226, 13%, 25%, 0.4);
  border-radius: 50%;
}

.heading {
  margin: 2rem 0 1rem 0;
  font-size: 24px;
}

.text {
  line-height: 1.4rem;
  color: var(--LightGrey);
}

.numbers-to_select {
  display: flex;
  /* justify-content: flex-start; */
  gap: 1rem;
  margin: 2rem 0;
}

.numbers-to_select p {
  padding: 1rem 1.3rem;
  background-color: hsla(226, 13%, 25%, 0.4);
  font-weight: 700;
  color: var(--LightGrey);
  border-radius: 49%;
  cursor: pointer;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 400px;
  min-height: 100vh;
  background-color: var(--VeryDarkBlue);
  padding: 1rem;
}

@media (min-width: 1080px) {
  .main-container .rating-container {
    width: 30%;
  }
}

.rating-container {
  display: none;
  padding: 2rem;
  border-radius: 2rem;
  width: 100%;
  min-width: 200px;
  background-color: var(--DarkBlue);
}

.submit-btn {
  background-color: var(--Orange);
  border: none;
  width: 100%;
  padding: 1rem 0;
  color: var(--White);
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-weight: 700;
  border-radius: 2rem;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: var(--White);
  color: var(--Orange);
}

.numbers-to_select p:hover {
  background-color: var(--Orange);
  color: var(--White);
}

.numbers-to_select p:active {
  background-color: var(--MediumGrey);
  color: var(--White);
}
.numbers-to_select p:focus {
  background-color: var(--MediumGrey);
  color: var(--White);
}

@media (min-width: 1080px) {
  .main-container .thank-you_state {
    width: 30%;
  }
}

.thank-you_state {
  width: 100%;
  text-align: center;
  background-color: var(--DarkBlue);
  padding: 2rem;
  border-radius: 2rem;
}

.thank-you_state .illustration-img {
  background-color: transparent;
  border-radius: 0;
}

.thank-you_state .selection {
  width: 60%;
  margin: 0 auto;
  background-color: hsla(226, 13%, 25%, 0.4);
  padding: 0.8rem 0;
  border-radius: 2rem;
  color: var(--Orange);
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 10px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
